[Unit]
Description={{ .description }}
After={{ .after }}
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ .user }}
Environment={{ .environment }}
ExecStart={{ .execStart }}
WorkingDirectory={{ .workingDir }}

[Install]
WantedBy=multi-user.target